{% extends "base.html.j2" %}

{% block title %}WebDev DH - Index{% endblock %}

{% block active_home %} active{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Add and find people</h1>
        <p class="lead">Add and find people. GSPC description.</p>
    </div>
{% endblock %}