{% extends "base.html.j2" %}

{% block title %} GSPC - Home{% endblock %}
{% block active_home %} active{% endblock %}

{%block body%}
 <div class="container">
    <h1 class="mt-5">GSPC</h1>
    <p class="lead">The aim of the project is to create an algorithm for alignment of liturgical texts of complex structure.</p>
    <p class="lead">This web page is ought to contain the results of this work as well as of non-parallel texts.</p>
</div>
{% endblock %}