{% extends "base.html.j2" %}

{% block title %}WebDev DH - People{% endblock %}

{% block active_people %} active{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">List of people</h1>
    <p class="lead">Add a person</p>
    <form method="POST">
        <div class="mb-3">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" aria-describedby="firstName" name="firstname">
            <div id="firstName" class="form-text">First name of the person.</div>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" aria-describedby="lastName" name="lastname">
            <div id="lastName" class="form-text">Last name of the person.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="padding15"></div>

    <p class="lead">Here is a full list</p>

    <div class="padding15"></div>

    {{ search_table}}

</div>
{% endblock %}