{% extends "base.html.j2" %}

{% block title %}WebDev DH - Search{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">Search for people</h1>
    <p class="lead">Search results for "{{ q }}":</p>

    <div class="padding15"></div>

    {{ search_table}}

</div>
{% endblock %}